
body{
    background-color: black;
    color: #FFF
}

.search-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
} 

.search-container h1{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.search-container h2{
    margin: 10px 0;
    font-size: 20px;
}

.search-container .input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-container .input-container .input-username{
    width: 300px;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.search-container .input-container .buttom-username{
    width: 40px;
    padding: 5px 5px;
    margin: 0 15px;
    border: none;
    border-radius: 17px;
    font-size: 15px;
    background: #fff;
}

.user-info {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
    margin: 40px;
  }